<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

    <%= form_with model: @customer, url: admins_customer_path, local:true do |customer| %>
    <div class="text-center">

    <h2>プロフィール編集</h2>

    <h4>名前</h4>
    <%= customer.text_field :lastname, class: "form-control" %>
    <%= customer.text_field :firstname, class: "form-control" %>
    <h4>フリガナ</h4>
    <%= customer.text_field :lastruby, class: "form-control" %>
    <%= customer.text_field :firstruby, class: "form-control" %>
    <h4>郵便番号・住所</h4>
    <%= customer.text_field :zip, class: "form-control" %>
    <%= customer.text_field :address, class: "form-control" %>
    <h4>メールアドレス</h4>
    <%= customer.text_field :email, class: "form-control" %>
    <h4>DM送付</h4>
      <%= customer.radio_button :dm, true %>
      <%= customer.label :dm, "必要", value: true %>
      <%= customer.radio_button :dm, false %>
      <%= customer.label :dm, "不要", value: false %>

    <br>
    <%= customer.submit "更新", class: "btn btn-secondary" %>
    </div>
    <% end %>
    <br>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "商品詳細へ戻る", admins_customer_path(@customer.id), class: "btn btn-secondary" %></div>