<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <br>
    <h3>問い合わせ返信フォーム</h3>
    <br>
    <%= form_for(@contact, url: admins_contacts_confirm_path) do |f| %>

    <div class="form-group">
      <p>タイトル</p>
      <%= f.text_field :subject, class: 'form-control' %>
      <p>メッセージ</p>
      <%= f.text_field :message, autofocus: true, class: 'form-control' %>
      <br>
      <p>送信先</p>
      <%= f.collection_select :customer_id, @customer, :id, :full_name %>
      <p>様</p>
  
      <br><br>
      <%= f.submit "確認", class: "btn btn-success" %>
    </div>

    <% end %>

    </div>
  </div>
</div>