<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">

    <h1>商品一覧</h1>
    
    <p>
      <%= form_with url: admins_search_path, method: :get, local: true do |f| %><a>検索 </a>
        <%= f.text_field :content %>
        <%= f.select :model, options_for_select({ "Item" => "item" }) %>
        <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
        <%= f.submit '検索' %>
        <%= link_to"新規商品", new_admins_item_path, class: "btn btn-primary" %>
      <% end %>
    </p>

   <%= render 'admins/items/index', items: @items %>
   <%= paginate @items %>

    </div>
  </div>
</div>