<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

    <%= form_with model: @item, url: admins_items_path, local:true do |f| %>
  
      <h2>新規商品編集</h2>

      <h4>商品名</h4>
      <%= f.text_field :name, class: "form-control" %>
      <br>
      <h4>説明</h4>
      <%= f.text_area :description, class: "form-control" %>
      <br>
      <%= f.attachment_field :image %>
      <br>
      <%= f.submit "登録", class: "btn btn-secondary" %>
    
    <% end %>
    
    </div>
  </div>
</div>