<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
    <h1>商品詳細</h1>

      <table class="table table-striped shadow-sm">
        <thead>
          <tr>
            <th>商品名</th>
            <th>写真</th>
            <th>説明</th>
            <th>総いいね!数</th>
          </tr>
        </thaead>

        <tbody>

          <tr>
            <td>
              <%= @item.name %>
              <br><br><br>
              登録日:<%= @item.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
              <%= attachment_image_tag @item, :image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg", size:'100x100' %>
            </td>
            <td>
              <%= @item.description %>
            </td>
            <td>
              <%= @favorite.count %>
            </td>
          </tr>
        </tbody>
      </table>


      <h3>商品に関する投稿</h3><%= link_to"新規投稿", new_admins_item_post_path(@item.id), class: "btn btn-primary" %>
      <table class="table table-striped shadow-sm">
        <thead>
           <tr><td>タイトル</td><td>記事</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </thead>
        <tbody>
          <% @post.each do |article| %>
          <tr>
            <td>
            　<%= article.title %>
            </td>
            <td>
              <%= article.post %>
            </td>
            <td>
              <%= link_to"投稿編集", edit_admins_item_post_path(article.id), class: "btn btn-success" %>
            </td>
            <td>
              <%= link_to "投稿削除", admins_item_post_path(article.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger"  %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>




      <%= link_to "商品編集", edit_admins_item_path, class: "btn btn-success" %>
      <%= link_to "商品削除", admins_item_path(@item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger"  %>
      <%= link_to "一覧へ戻る", admins_items_path, class: "btn btn-secondary" %></div>

    </div>
  </div>
</div>