<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1>商品詳細</h1>
      <table class="table table-striped shadow-sm">
        <thead>
          <tr>
            <th>商品名</th>
            <th>写真</th>
            <th>説明</th>
            <th>いいね！</th>
          </tr>
        </thaead>

        <tbody>
          <tr>
            <td>
              <%= @item.name %>
              <br><br><br>
              登録日:<%= @item.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
              <%= attachment_image_tag @item, :image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg", size:'100x100' %>
            </td>
            <td>
              <%= @item.description %>
            </td>
            <td class="favorite">
              <%= render "favorites/favorite", item: @item %>
            </td>
          </tr>
        </tbody>
      </table>
      
      
      <h3>商品に関する投稿</h3>
      <table class="table table-striped shadow-sm">
        <thead>
           <tr><td>タイトル</td><td>記事</td></tr>
        </thead>
        <tbody>
          <% @post.each do |article| %>
          <tr>
            <td>
            　<%= article.title %>
            </td>
            <td>
              <%= article.post %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "一覧へ戻る", items_path, class: "btn btn-secondary" %>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>